.cont{
    display: flex;
    align-items: flex-end;
    width: 100px;
    height: 120px;
}
.box{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    background: rgb(239, 239, 239);
}
.pic{
    width: 40px;
    height: 40px;
    border: 2px solid green;
    border-radius: 50%;
    position: absolute;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -20px;
}
.cards{
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    position: relative;
}
.img{
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
}