.cont{
    width: 100%;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    overflow-x: scroll;
}
.drawbtn{
    width: 40px;
    height: 60px;
    background: white;
    z-index: 14;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    margin-left: 20px;
    transform: rotateZ(10deg);
}
.drawbtn:disabled{
    width: 40px;
    height: 60px;
    background: white;
    border: none;
    box-shadow: 0 0 1px black;
}
.choosetype{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #0000005a;
    z-index: 12;
    align-items: center;
    justify-content: center;
}
.playercard{
    position: relative;
    width: 100%;
    height: 150px;
}
::-webkit-scrollbar{
    display: none;
}