.App {
  width: 100vw;
  height: calc(100vh - 58px);
  background: var(--background-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Layout{
  width: 380px;
  padding: 10px;
  background: var(--background-light);
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}